body {
    background-image: url(/img/rsp.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
div {
    text-align: center;
} 

.header {
    display: flex;
    
}

.title {
    justify-content: center;
    font-size: 30px;
    
    
}

.inf {
    font-size: 15px;
    
}